/* slides
   ========================================================================== */
::-webkit-scrollbar {
    width:6px;
    height:6px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color:transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(100, 100, 100, 1);
    width: 6px;
    height: 6px;
    -webkit-border-radius:4px;
}

ul{
	list-style:none;
}

ul, li {
	margin: 0;
	overflow: hidden;
}

.sidebar {
	position: fixed;
	top: 0;
	width: 150px;
	height: 100%;
	background: transparent;
	z-index: 100;
	overflow: hidden;

	&:hover, &.init {
		nav {
			left: 0px;
			opacity: 1;
		}
	}
}

img {
	width: 100%;
	height: auto;

	&:before{
		padding-top: 56.25%;
	}

	position: relative;
}

.queued {
	img{
		width: 16px;
		height: 16px;
		position: absolute;
		left: 50%;
		top: 50%;

		margin-left: -8px;
		margin-top: -8px;
	}

	span {
		margin-top: 50px;
	}
}

nav {
	height: 100%;
	width: 100%;
	overflow-y: auto;

	background: #303030;

	position: absolute;
	left: -150px;
	opacity: 0;
	@include transition(all 0.35s ease-out);

	ul {
		width: 100%;
	}

	li {
		position: relative;
		width: 100%;
		margin-bottom: 30px;
		cursor: pointer;
		text-align: center;

		padding: 15px;
		padding-bottom: 2px;

		@include box-sizing(border-box);
		@include transition(background-color 0.35s);

		img{
			opacity: 0.5;
			@include transition(opacity 0.35s);
			position: relative;
		}

		&:hover, &.active{
			img{
				opacity: 1;
			}
		}

		span {
			position: relative;
			display: block;
			color: rgba(255, 255, 255, 0.7);
			font-size: 14px;
			text-align: center;
			padding-top: 3px;
			width: 24px;
			height: 24px;
			left: 50%;
			margin-left: -12px;
			@include box-sizing(border-box);
			@include border-radius(50%);
			line-height: 13px;
			border: 0;
		}

		&.active {

			span {
				//border: 2px solid #aaa;
				font-weight: 600;
				color: #151515;
			}

			background-color: rgba(255, 255, 255, 0.85);

		}
	}

}

.owl-item {
	position: relative;

	.queued {
		img {
			width: 32px;
			height: 32px;
			left: 50%;
			top: 50%;
			margin-left: -16px;
			margin-top: -16px;
		}
	}

	h1 {
		text-align: center;
		font-size: 10em;
		top: 35%;
		@include translate(-50% 0);
		position: absolute;
		width: 100%;

		span {
			background: $mint-dark;
			color: #fff;
			@include border-radius(10px);
			line-height: 0;
			padding: 0 24px 12px;
		}
	}

	h2 {
		font-size: 7em;
	}

	h3 {
		font-family: $normal-font;
		color: $default-text-color;
		font-weight: 600;
		font-size: 1.75em;
		text-transform: uppercase;
		letter-spacing: 0.05em;
		line-height: 0.5em;
		margin-bottom: 40px;
	}

	h4 {
		font-size: 2em;
		font-weight: 400;
		letter-spacing: 0.03em;
		margin: 20px 0 0 0;
	}

	.links {
		font-size: 2em;
		line-height: 1.8em;
		font-weight: 600;
		list-style: none;
		letter-spacing: 0.05em;
		margin: 0;
		padding: 0;

		a {
			color: $mint-dark;
			@include transition(all 0.2s);

			&:hover {
				border-bottom: 3px solid $mint-dark;
				text-decoration: none;
				color: $mint-dark;
			}
		}
	}
}