@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic);
/* ==========================================================================
   import scss files
   ========================================================================== */
/* compass defaults
   ========================================================================== */
/* normalize setup
   ========================================================================== */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects block display not defined in IE6/7/8/9 & FF3
 */
/* line 19, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
/* line 29, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
/* line 42, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
/* line 52, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *    http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *    www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
/* line 68, ../sass/_normalize.scss */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  /* Establishes a vertical rhythm unit using $base-line-height. */
  line-height: 1.3125em;
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
/* line 84, ../sass/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: helvetica;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
/* line 92, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
/* line 105, ../sass/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
/* line 115, ../sass/_normalize.scss */
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* line 129, ../sass/_normalize.scss */
h1 {
  /* Sets the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.3125em;
  /* Sets 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.65625em;
  margin-bottom: 0.65625em;
}

/* line 138, ../sass/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 1.75em;
  margin-top: 0.875em;
  margin-bottom: 0.875em;
}

/* line 144, ../sass/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 2.24359em;
  margin-top: 1.12179em;
  margin-bottom: 1.12179em;
}

/* line 150, ../sass/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.3125em;
  margin-top: 1.3125em;
  margin-bottom: 1.3125em;
}

/* line 156, ../sass/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.58133em;
  margin-top: 1.58133em;
  margin-bottom: 1.58133em;
}

/* line 162, ../sass/_normalize.scss */
h6 {
  font-size: 0.75em;
  line-height: 1.75em;
  margin-top: 1.75em;
  margin-bottom: 1.75em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
/* line 172, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
/* line 181, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 185, ../sass/_normalize.scss */
blockquote {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.3125em 40px;
}

/*
 * Addresses styling not present in S5, Chrome
 */
/* line 194, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
/* line 202, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
/* line 212, ../sass/_normalize.scss */
p,
pre {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.3125em 0;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
/* line 225, ../sass/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  font-size: 1em;
  line-height: 1.3125em;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
/* line 237, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
/* line 250, ../sass/_normalize.scss */
q {
  quotes: none;
}

/* 2 */
/* line 257, ../sass/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 262, ../sass/_normalize.scss */
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
/* line 272, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 279, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 283, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
/* line 299, ../sass/_normalize.scss */
dl,
menu,
ol,
ul {
  /* Sets 1 unit of vertical rhythm on the top and bottom margin. */
  margin: 1.3125em 0;
}

/* line 304, ../sass/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
/* line 314, ../sass/_normalize.scss */
menu,
ol,
ul {
  padding: 0;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/* line 323, ../sass/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *    code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
/* line 339, ../sass/_normalize.scss */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
/* line 348, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
/* line 361, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
/* line 374, ../sass/_normalize.scss */
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
/* line 382, ../sass/_normalize.scss */
fieldset {
  border-color: #c0c0c0;
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-top-style: solid;
  border-top-width: 0.0625em;
  padding-top: 0.39688em;
  border-bottom-style: solid;
  border-bottom-width: 0.0625em;
  padding-bottom: 0.79063em;
  border-left-style: solid;
  border-left-width: 0.0625em;
  padding-left: 0.75781em;
  border-right-style: solid;
  border-right-width: 0.0625em;
  padding-right: 0.75781em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
/* line 398, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
/* line 416, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
/* line 430, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *    Known issue: inner spacing remains in IE6
 */
/* line 444, ../sass/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
}

/*
 * Re-set default cursor for disabled elements
 */
/* line 457, ../sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
      Known issue: excess padding remains in IE6
 */
/* line 469, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
/* line 483, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
/* line 493, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
/* line 503, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
/* line 513, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
/* line 527, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Retina Sprites
   ========================================================================== */
/* compass defaults
   ========================================================================== */
/* Normalize setup
   ========================================================================== */
/* Colors
   ========================================================================== */
/* Gradients
   ========================================================================== */
/* Default button colors
   ========================================================================== */
/* Z-indices
   ========================================================================== */
	/*
		example (Open for review):
		section {
			position: relative;
			z-index: $z-index-section;

			p {
				position: absolute;
				z-index: z-section + 1;
			}
		}


	*/
/* fonts
   ========================================================================== */
/* font weight */
/* default typography */
/* line 27, ../sass/_typography.scss */
body {
  text-rendering: optimizeLegibility;
  -webkit-text-stroke: 1px transparent;
  color: #656d78;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
}

/* headings
   ========================================================================== */
/* line 39, ../sass/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  color: #18292a;
  margin: 0;
}

/* line 44, ../sass/_typography.scss */
h1, h2 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  line-height: 1.1em;
}

/* line 50, ../sass/_typography.scss */
h1 {
  font-size: 21.33333px;
}

/* line 54, ../sass/_typography.scss */
h2 {
  font-size: 16px;
}

/* line 58, ../sass/_typography.scss */
h3 {
  font-family: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 300;
  font-size: 12.48px;
}

@media only screen and (min-width: 569px) {
  /* line 65, ../sass/_typography.scss */
  h1, h2 {
    font-weight: 100;
    line-height: 1.4em;
  }

  /* line 69, ../sass/_typography.scss */
  h1 {
    font-size: 32px;
  }

  /* line 72, ../sass/_typography.scss */
  h2 {
    font-size: 24px;
  }

  /* line 76, ../sass/_typography.scss */
  h3 {
    font-size: 18.72px;
  }
}
/* line 81, ../sass/_typography.scss */
h4, h5, h6 {
  font-weight: 400;
}

/* line 85, ../sass/_typography.scss */
h4 {
  font-size: 13.28px;
}

/* line 89, ../sass/_typography.scss */
h5 {
  font-size: 13.28px;
  text-transform: uppercase;
}

/* line 94, ../sass/_typography.scss */
h6 {
  font-size: 12px;
}

/* line 98, ../sass/_typography.scss */
p {
  margin-bottom: 0.5em;
}

/* line 102, ../sass/_typography.scss */
a {
  text-decoration: none;
  color: inherit;
}
/* line 106, ../sass/_typography.scss */
a:hover:not(.button) {
  padding-bottom: 2px;
  border-bottom: 1px solid;
  border-bottom-color: inherit;
}

/* line 113, ../sass/_typography.scss */
blockquote {
  font-size: 24px;
  line-height: 48px;
  font-weight: 300;
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  margin: 1em;
  text-align: center;
}

/* line 123, ../sass/_typography.scss */
em, i {
  font-style: italic;
}

/* line 127, ../sass/_typography.scss */
strong, b {
  font-weight: 700;
}

/* Retina Sprites
   ========================================================================== */
/*
 * 	Core Owl Carousel CSS File
 *	v1.3.2
 */
/* clearfix */
/* line 7, ../sass/ui-elements/_carousel.scss */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* display none until init */
/* line 16, ../sass/ui-elements/_carousel.scss */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}

/* line 22, ../sass/ui-elements/_carousel.scss */
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}

/* line 27, ../sass/ui-elements/_carousel.scss */
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}

/* line 32, ../sass/ui-elements/_carousel.scss */
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* line 40, ../sass/ui-elements/_carousel.scss */
.owl-carousel .owl-item {
  float: left;
}

/* line 44, ../sass/ui-elements/_carousel.scss */
.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer;
}

/* line 47, ../sass/ui-elements/_carousel.scss */
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
/* line 57, ../sass/ui-elements/_carousel.scss */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}

/* fix */
/* line 63, ../sass/ui-elements/_carousel.scss */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

/*
 *  Owl Carousel CSS3 Transitions
 *  v1.3.2
 */
/* line 77, ../sass/ui-elements/_carousel.scss */
.owl-origin {
  -webkit-perspective: 1200px;
  -webkit-perspective-origin-x: 50%;
  -webkit-perspective-origin-y: 50%;
  -moz-perspective: 1200px;
  -moz-perspective-origin-x: 50%;
  -moz-perspective-origin-y: 50%;
  perspective: 1200px;
}

/* fade */
/* line 87, ../sass/ui-elements/_carousel.scss */
.owl-fade-out {
  z-index: 10;
  -webkit-animation: fadeOut 0.7s both ease;
  -moz-animation: fadeOut 0.7s both ease;
  animation: fadeOut 0.7s both ease;
}

/* line 93, ../sass/ui-elements/_carousel.scss */
.owl-fade-in {
  -webkit-animation: fadeIn 0.7s both ease;
  -moz-animation: fadeIn 0.7s both ease;
  animation: fadeIn 0.7s both ease;
}

/* backSlide */
/* line 99, ../sass/ui-elements/_carousel.scss */
.owl-backSlide-out {
  -webkit-animation: backSlideOut 1s both ease;
  -moz-animation: backSlideOut 1s both ease;
  animation: backSlideOut 1s both ease;
}

/* line 104, ../sass/ui-elements/_carousel.scss */
.owl-backSlide-in {
  -webkit-animation: backSlideIn 1s both ease;
  -moz-animation: backSlideIn 1s both ease;
  animation: backSlideIn 1s both ease;
}

/* goDown */
/* line 110, ../sass/ui-elements/_carousel.scss */
.owl-goDown-out {
  -webkit-animation: scaleToFade 0.7s ease both;
  -moz-animation: scaleToFade 0.7s ease both;
  animation: scaleToFade 0.7s ease both;
}

/* line 115, ../sass/ui-elements/_carousel.scss */
.owl-goDown-in {
  -webkit-animation: goDown 0.6s ease both;
  -moz-animation: goDown 0.6s ease both;
  animation: goDown 0.6s ease both;
}

/* scaleUp */
/* line 121, ../sass/ui-elements/_carousel.scss */
.owl-fadeUp-in {
  -webkit-animation: scaleUpFrom 0.5s ease both;
  -moz-animation: scaleUpFrom 0.5s ease both;
  animation: scaleUpFrom 0.5s ease both;
}

/* line 127, ../sass/ui-elements/_carousel.scss */
.owl-fadeUp-out {
  -webkit-animation: scaleUpTo 0.5s ease both;
  -moz-animation: scaleUpTo 0.5s ease both;
  animation: scaleUpTo 0.5s ease both;
}

/* Keyframes */
/*empty*/
@-webkit-keyframes empty {
  /* line 135, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 1;
  }
}

@-moz-keyframes empty {
  /* line 138, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 1;
  }
}

@keyframes empty {
  /* line 141, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  /* line 144, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 0;
  }

  /* line 145, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  /* line 148, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 0;
  }

  /* line 149, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  /* line 152, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 0;
  }

  /* line 153, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeOut {
  /* line 156, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 1;
  }

  /* line 157, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  /* line 160, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 1;
  }

  /* line 161, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  /* line 164, ../sass/ui-elements/_carousel.scss */
  0% {
    opacity: 1;
  }

  /* line 165, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes backSlideOut {
  /* line 168, ../sass/ui-elements/_carousel.scss */
  25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }

  /* line 169, ../sass/ui-elements/_carousel.scss */
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }

  /* line 170, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(-200%);
  }
}

@-moz-keyframes backSlideOut {
  /* line 173, ../sass/ui-elements/_carousel.scss */
  25% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }

  /* line 174, ../sass/ui-elements/_carousel.scss */
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }

  /* line 175, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(-200%);
  }
}

@keyframes backSlideOut {
  /* line 178, ../sass/ui-elements/_carousel.scss */
  25% {
    opacity: .5;
    transform: translateZ(-500px);
  }

  /* line 179, ../sass/ui-elements/_carousel.scss */
  75% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }

  /* line 180, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: .5;
    transform: translateZ(-500px) translateX(-200%);
  }
}

@-webkit-keyframes backSlideIn {
  /* line 183, ../sass/ui-elements/_carousel.scss */
  0%, 25% {
    opacity: .5;
    -webkit-transform: translateZ(-500px) translateX(200%);
  }

  /* line 184, ../sass/ui-elements/_carousel.scss */
  75% {
    opacity: .5;
    -webkit-transform: translateZ(-500px);
  }

  /* line 185, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 1;
    -webkit-transform: translateZ(0) translateX(0);
  }
}

@-moz-keyframes backSlideIn {
  /* line 188, ../sass/ui-elements/_carousel.scss */
  0%, 25% {
    opacity: .5;
    -moz-transform: translateZ(-500px) translateX(200%);
  }

  /* line 189, ../sass/ui-elements/_carousel.scss */
  75% {
    opacity: .5;
    -moz-transform: translateZ(-500px);
  }

  /* line 190, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 1;
    -moz-transform: translateZ(0) translateX(0);
  }
}

@keyframes backSlideIn {
  /* line 193, ../sass/ui-elements/_carousel.scss */
  0%, 25% {
    opacity: .5;
    transform: translateZ(-500px) translateX(200%);
  }

  /* line 194, ../sass/ui-elements/_carousel.scss */
  75% {
    opacity: .5;
    transform: translateZ(-500px);
  }

  /* line 195, ../sass/ui-elements/_carousel.scss */
  100% {
    opacity: 1;
    transform: translateZ(0) translateX(0);
  }
}

@-webkit-keyframes scaleToFade {
  /* line 198, ../sass/ui-elements/_carousel.scss */
  to {
    opacity: 0;
    -webkit-transform: scale(0.8);
  }
}

@-moz-keyframes scaleToFade {
  /* line 201, ../sass/ui-elements/_carousel.scss */
  to {
    opacity: 0;
    -moz-transform: scale(0.8);
  }
}

@keyframes scaleToFade {
  /* line 204, ../sass/ui-elements/_carousel.scss */
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

@-webkit-keyframes goDown {
  /* line 207, ../sass/ui-elements/_carousel.scss */
  from {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes goDown {
  /* line 210, ../sass/ui-elements/_carousel.scss */
  from {
    -moz-transform: translateY(-100%);
  }
}

@keyframes goDown {
  /* line 213, ../sass/ui-elements/_carousel.scss */
  from {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes scaleUpFrom {
  /* line 217, ../sass/ui-elements/_carousel.scss */
  from {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes scaleUpFrom {
  /* line 220, ../sass/ui-elements/_carousel.scss */
  from {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}

@keyframes scaleUpFrom {
  /* line 223, ../sass/ui-elements/_carousel.scss */
  from {
    opacity: 0;
    transform: scale(1.5);
  }
}

@-webkit-keyframes scaleUpTo {
  /* line 227, ../sass/ui-elements/_carousel.scss */
  to {
    opacity: 0;
    -webkit-transform: scale(1.5);
  }
}

@-moz-keyframes scaleUpTo {
  /* line 230, ../sass/ui-elements/_carousel.scss */
  to {
    opacity: 0;
    -moz-transform: scale(1.5);
  }
}

@keyframes scaleUpTo {
  /* line 233, ../sass/ui-elements/_carousel.scss */
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

/* ==========================================================================
	 buttons
	 ========================================================================== */
/* Main Menu
========================================================================== */
/* ==========================================================================
	 forms
	 ========================================================================== */
/* line 1, ../sass/_main.scss */
html, body {
  height: 100%;
  min-height: 100%;
}

/* line 6, ../sass/_main.scss */
.owl-carousel, .owl-wrapper-outer, .owl-wrapper, .owl-item {
  height: 100%;
}

/* slides
   ========================================================================== */
/* line 3, ../sass/sections/_slides.scss */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* line 9, ../sass/sections/_slides.scss */
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent;
}

/* line 13, ../sass/sections/_slides.scss */
::-webkit-scrollbar-thumb {
  background-color: #646464;
  width: 6px;
  height: 6px;
  -webkit-border-radius: 4px;
}

/* line 20, ../sass/sections/_slides.scss */
ul {
  list-style: none;
}

/* line 24, ../sass/sections/_slides.scss */
ul, li {
  margin: 0;
  overflow: hidden;
}

/* line 29, ../sass/sections/_slides.scss */
.sidebar {
  position: fixed;
  top: 0;
  width: 150px;
  height: 100%;
  background: transparent;
  z-index: 100;
  overflow: hidden;
}
/* line 39, ../sass/sections/_slides.scss */
.sidebar:hover nav, .sidebar.init nav {
  left: 0px;
  opacity: 1;
}

/* line 46, ../sass/sections/_slides.scss */
img {
  width: 100%;
  height: auto;
  position: relative;
}
/* line 50, ../sass/sections/_slides.scss */
img:before {
  padding-top: 56.25%;
}

/* line 58, ../sass/sections/_slides.scss */
.queued img {
  width: 16px;
  height: 16px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -8px;
  margin-top: -8px;
}
/* line 69, ../sass/sections/_slides.scss */
.queued span {
  margin-top: 50px;
}

/* line 74, ../sass/sections/_slides.scss */
nav {
  height: 100%;
  width: 100%;
  overflow-y: auto;
  background: #303030;
  position: absolute;
  left: -150px;
  opacity: 0;
  -webkit-transition: all 0.35s ease-out;
  -moz-transition: all 0.35s ease-out;
  -o-transition: all 0.35s ease-out;
  transition: all 0.35s ease-out;
}
/* line 86, ../sass/sections/_slides.scss */
nav ul {
  width: 100%;
}
/* line 90, ../sass/sections/_slides.scss */
nav li {
  position: relative;
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;
  text-align: center;
  padding: 15px;
  padding-bottom: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: background-color 0.35s;
  -moz-transition: background-color 0.35s;
  -o-transition: background-color 0.35s;
  transition: background-color 0.35s;
}
/* line 103, ../sass/sections/_slides.scss */
nav li img {
  opacity: 0.5;
  -webkit-transition: opacity 0.35s;
  -moz-transition: opacity 0.35s;
  -o-transition: opacity 0.35s;
  transition: opacity 0.35s;
  position: relative;
}
/* line 110, ../sass/sections/_slides.scss */
nav li:hover img, nav li.active img {
  opacity: 1;
}
/* line 115, ../sass/sections/_slides.scss */
nav li span {
  position: relative;
  display: block;
  color: rgba(255, 255, 255, 0.7);
  font-size: 14px;
  text-align: center;
  padding-top: 3px;
  width: 24px;
  height: 24px;
  left: 50%;
  margin-left: -12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  line-height: 13px;
  border: 0;
}
/* line 132, ../sass/sections/_slides.scss */
nav li.active {
  background-color: rgba(255, 255, 255, 0.85);
}
/* line 134, ../sass/sections/_slides.scss */
nav li.active span {
  font-weight: 600;
  color: #151515;
}

/* line 147, ../sass/sections/_slides.scss */
.owl-item {
  position: relative;
}
/* line 151, ../sass/sections/_slides.scss */
.owl-item .queued img {
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  margin-left: -16px;
  margin-top: -16px;
}
/* line 161, ../sass/sections/_slides.scss */
.owl-item h1 {
  text-align: center;
  font-size: 10em;
  top: 35%;
  -webkit-transform: translate(-50% 0, 1em);
  -moz-transform: translate(-50% 0, 1em);
  -ms-transform: translate(-50% 0, 1em);
  -o-transform: translate(-50% 0, 1em);
  transform: translate(-50% 0, 1em);
  position: absolute;
  width: 100%;
}
/* line 169, ../sass/sections/_slides.scss */
.owl-item h1 span {
  background: #37bc9b;
  color: #fff;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  line-height: 0;
  padding: 0 24px 12px;
}
/* line 178, ../sass/sections/_slides.scss */
.owl-item h2 {
  font-size: 7em;
}
/* line 182, ../sass/sections/_slides.scss */
.owl-item h3 {
  font-family: "Open Sans", sans-serif;
  color: #656d78;
  font-weight: 600;
  font-size: 1.75em;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 0.5em;
  margin-bottom: 40px;
}
/* line 193, ../sass/sections/_slides.scss */
.owl-item h4 {
  font-size: 2em;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin: 20px 0 0 0;
}
/* line 200, ../sass/sections/_slides.scss */
.owl-item .links {
  font-size: 2em;
  line-height: 1.8em;
  font-weight: 600;
  list-style: none;
  letter-spacing: 0.05em;
  margin: 0;
  padding: 0;
}
/* line 209, ../sass/sections/_slides.scss */
.owl-item .links a {
  color: #37bc9b;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
/* line 213, ../sass/sections/_slides.scss */
.owl-item .links a:hover {
  border-bottom: 3px solid #37bc9b;
  text-decoration: none;
  color: #37bc9b;
}
