/* fonts
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,300italic,400italic,600italic,700italic);

$heading-font: "Raleway", "Helvetica Neue", Helvetica, sans-serif;
$normal-font: "Open Sans", sans-serif;

/* font weight */
$heading-font-thin: 100;
$heading-font-extra-light: 200;
$heading-font-light: 300;
$heading-font-normal: 400;
$heading-font-medium: 500;
$heading-font-semi-bold: 600;
$heading-font-bold: 700;

$normal-font-light: 300;
$normal-font-normal: 400;
$normal-font-semi-bold: 600;
$normal-font-bold: 700;

/* default typography */
$default-font-size: 0.875 * $base-font-size !default;
$default-text-color: $dark-gray;

body {
	text-rendering: optimizeLegibility;
	-webkit-text-stroke: 1px transparent;
	color: $default-text-color;
	font-family: $normal-font;
	font-weight: $normal-font-light;
	font-size: $default-font-size;
	line-height: $base-line-height;
}

/* headings
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
	color: $dark;
	margin: 0;
}

h1, h2 {
	font-family: $heading-font;
	font-weight: $heading-font-light;
	line-height: 1.1em;
}

h1 {
	font-size: $h1-font-size / 1.5;
}

h2 {
	font-size: $h2-font-size / 1.5;
}

h3{
	font-family: $heading-font;
	font-weight: $heading-font-light;
	font-size: $h3-font-size / 1.5;
}

@include tablet-portrait-and-up {
	h1, h2 {
		font-weight: $heading-font-thin;
		line-height: 1.4em;
	}
	h1 {
		font-size: $h1-font-size;
	}
	h2 {
		font-size: $h2-font-size;
	}

	h3{
		font-size: $h3-font-size;
	}
}

h4, h5, h6 {
	font-weight: $normal-font-normal;
}

h4{
	font-size: $h5-font-size;
}

h5{
	font-size: $h5-font-size;
	text-transform: uppercase;
}

h6{
	font-size: $h6-font-size;
}

p {
	margin-bottom: 0.5em;
}

a {
	text-decoration: none;
	color: inherit;

	&:hover:not(.button){
		padding-bottom: 2px;
		border-bottom: 1px solid;
		border-bottom-color: inherit;
	}
}

blockquote{
	font-size: $h2-font-size;
	line-height: $font-size * 3; // 32 / 16;
	font-weight: $normal-font-light;
	font-style: italic;
	font-family: $normal-font;
	margin: 1em;
	text-align: center;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: $heading-font-bold;
}


